Language: Cpp
Standard: Latest
BasedOnStyle: LLVM
IndentWidth: 4
AlignEscapedNewlines: LeftWithLastLine
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakConstructorInitializers : BeforeColon
BreakFunctionDefinitionParameters : false
BreakInheritanceList: BeforeColon
BreakTemplateDeclarations: Yes
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true