[submodule "extern/llvm-project"]
	path = extern/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "extern/antlr4"]
	path = extern/antlr4
	url = https://github.com/antlr/antlr4.git
